<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- https://github.com/mikecao/umami -->

        <script
            async
            defer
            data-website-id="a378bd09-212d-4801-94cc-9797b6a5f3f7"
            src="https://stats.mirotalk.org/umami.js"
        ></script>

        <!-- Title and Icon -->

        <title>Aperi - Allow Video and Audio access to join in the Room.</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="MiroTalk" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="MiroTalk calling provides real-time HD quality and latency simply not available with traditional technology."
        />
        <meta property="og:image" content="https://p2p.mirotalk.com/images/preview.png" />
        <meta property="og:url" content="https://p2p.mirotalk.org" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../admins/css/dashlite.css">
    </head>

        <body class="nk-body bg-white npc-default pg-auth">
            <div class="nk-app-root">
                <div class="nk-main ">
                    <div class="nk-wrap nk-wrap-nosidebar">
                        <div class="nk-content ">
                            <div class="nk-wrap nk-wrap-nosidebar">
                                <div class="nk-content ">
                                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                                        <div class="hero-content split-item-content center-content-mobile">
                                            <h1 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                                Access denied.
                                            </h1>
                                            <p
                                                id="getUserMediaError"
                                                class="mt-0 mb-32 reveal-from-bottom"
                                                data-reveal-delay="300"
                                            ></p>
                                            <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                                                This app will not work without camera/microphone access. Please try again
                                                and allow it.
                                            </p>
                                            <script>
                                                let qs = new URLSearchParams(window.location.search);
                                                let roomId = qs.get('roomId');
                                                let getUserMediaError = qs.get('getUserMediaError');
                                                console.log('Allow Camera && Audio', {
                                                    roomId: roomId,
                                                    getUserMediaError: getUserMediaError,
                                                });
                                                // print getUserMedia error
                                                document.getElementById('getUserMediaError').innerHTML = getUserMediaError;
                                            </script>
                                            <div class="reveal-from-bottom" data-reveal-delay="450">
                                                <button
                                                    class="btn btn-outline-primary btn-block"
                                                    onclick="roomId ? window.location.href = '/join/' + roomId : window.location.href = '/newcall';"
                                                >
                                                    Try again
                                                </button>
                                            </div>
                                        </div>
                                        <style>
                                            @media (min-width: 641px) {
                                                .hero .split-wrap .split-item {
                                                    min-height: 492px;
                                                }
                                            }
                                        </style>
                                        
                                    </div>
                                    <div class="nk-footer nk-auth-footer-full">
                                        <div class="container wide-lg">
                                            <div class="row g-3">
                                                <div class="col-lg-6 order-lg-last">
                                                    <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#">Terms & Condition</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#">Privacy Policy</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="#">Help</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="nk-block-content text-center text-sm-left">
                                                        <p class="text-soft small">&copy; 2022 Ngoma Digitech (Ply) Ltd. All
                                                            Rights
                                                            Reserved.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <script defer src="../js/landing.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
